<template>
    <div>
        <NavbarCore :initialLoggedUser="user"/>
        <div class="container">
            <router-view></router-view>
        </div>
    </div>
</template>

<script>

import auth from "../utilities/auth";
import NavbarCore from "../components/navbar/NavbarCore";

const {removeLoggedInUser, getLoggedInUser} = auth();

export default {
    components: {NavbarCore},
    data() {
        return {
            user: null
        }
    },
    mounted() {
        // Set currently logged in user to the App attribute. To be used with frontend admin validation.
        this.user = getLoggedInUser()

        window.addEventListener('user-localstorage-changed', (event) => {
            this.user = event.detail.storage;
        });

        // Logout eventBus listener
        this.$eventBus.$on('logout', this.logout)

        this.$once("hook:beforeDestroy", () => {
            this.$eventBus.$off('logout', this.logout)
        })
    },
    methods: {
        logout() {
            // "Are you sure?" alert - question...
            this.$swal({
                title: 'Logout?',
                icon: 'question',
                text: 'Are you sure you want to logout?',
                showCancelButton: true,
                confirmButtonText: `Logout`,
                denyButtonText: `Cancel`,
            }).then((result) => {
                if (result.isConfirmed) {
                    // Logout request
                    axios.post('/logout', this.user).then(response => {

                        removeLoggedInUser(response.data.data)
                        // Redirect to login page
                        this.$router.push('/login')
                    })
                }
            })
        }
    }
};
</script>
