<template>
    <nav class="navbar navbar-expand navbar-light bg-white shadow-sm">
        <div class="container-fluid">
<!--            Left side of the nav bar (Toolbar) - component-->
            <NavbarLeft :userData="userData"/>
<!--            Centre of the nav bar (Logo) - component-->
            <NavbarLogo/>
<!--            Right side of the nav bar (Toolbar) - component-->
            <NavbarRight :userData="userData"/>
        </div>
    </nav>
</template>
<script>
import NavbarLeft from "./NavbarLeft";
import NavbarLogo from "./NavbarLogo";
import NavbarRight from "./NavbarRight";

export default {
    components: {NavbarLeft, NavbarLogo, NavbarRight},
    props: {initialLoggedUser: Object},
    data() {
        return {
            userData: this.initialLoggedUser
        }
    },
    watch: {
        // Watcher to refresh initialised props
        initialLoggedUser() {
            this.userData = this.initialLoggedUser;
        }
    },
};
</script>
