<template>
<!--    Nav Bar - Right Toolbar (Auth)-->
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ms-auto">
            <li class="nav-link no-pointer fw-bold text-primary" v-if="userData">Hi, {{ userData.name }}</li>
            <li class="nav-link pointer" @click="$eventBus.$emit('logout')" v-if="userData">
                <font-awesome-icon icon="sign-out-alt"/>
                Logout
            </li>
            <li class="nav-item">
                <router-link class="nav-link" :to="{ name: 'login' }" v-if="!userData">
                    <font-awesome-icon icon="sign-in-alt"/>
                    Login
                </router-link>
            </li>
            <li class="nav-item">
                <router-link class="nav-link" :to="{ name: 'register' }" v-if="!userData">
                    <font-awesome-icon icon="file-signature"/>
                    Register
                </router-link>
            </li>
        </ul>
    </div>
</template>
<script>
export default {
    props: {userData: Object},
};
</script>
<style>
.pointer {
    cursor: pointer;
}

.no-pointer {
    pointer-events: none;
}
</style>
