<template>
<!--    Nav Bar - Left Toolbar-->
    <div class="container-fluid">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav me-auto">
                <li class="nav-item" v-if="userData">
                    <router-link class="nav-link" :to="{ name: 'assets' }">
                        <font-awesome-icon icon="laptop"/>
                        {{userData.is_admin ? 'All Assets' : 'Available Assets'}}
                    </router-link>
                </li>
                <li class="nav-item" v-if="userData">
                    <router-link class="nav-link" :to="{ name: 'my-assets' }">
                        <font-awesome-icon icon="laptop-house"/>
                        My Assets
                    </router-link>
                </li>
                <li class="nav-item" v-if="userData && userData.is_admin">
                    <router-link class="nav-link" :to="{ name: 'users' }">
                        <font-awesome-icon icon="users"/>
                        All Users
                    </router-link>
                </li>
                <li class="nav-item" v-if="userData">
                    <router-link class="nav-link" :to="{ name: 'my-profile' }">
                        <font-awesome-icon icon="user"/>
                        My Profile
                    </router-link>
                </li>
            </ul>
        </div>
    </div>
</template>
<script>
export default {
    props: {userData: Object},
};
</script>
