<template>
<!--    Nav Bar - Centre - Logo-->
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="#"><img class="mx-3 pb-1" src="/storage/images/wincanton-logo.svg" height="20" alt="Wincanton"/>
            <span class="fw-bold"> IT Assets Manager</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</template>

