<template>
    <!--    Table row - action buttons component used for Users and Assets resources-->
    <td colspan="2" style="width: 20px!important;" >
        <div class="row">
            <div class="col-6 ps-1 pe-0 py-0 m-0" v-for="(tr, i) in buttons" v-if="i === 0 || user.is_admin" v-bind:key="'column' + row.id + i">
                <!--                Reusable button component-->
                <BaseButton v-for="(button, j) in tr"
                            v-bind:key="'button' + row.id + i + j"
                            :buttonClass="button.class"
                            :title=button.title
                            :icon=button.icon
                            textClass="fw-bold"
                            v-if="button.show"
                            @click="$emit(button.action, row.id)"/>
            </div>
        </div>
    </td>
</template>

<script>
export default {
    props: {row: Object, user: Object},
    computed: {
        buttons() {
            // Buttons config
            return [
                [
                    {title: 'Edit', icon: 'edit', show: this.user.is_admin, action: 'editLine', class: 'btn-sm mx-1 btn-outline-primary'},
                ],
                [
                    {title: 'Delete', icon: 'trash', show: this.user.is_admin, action: 'deleteLine', class: 'btn-sm mx-1 btn-outline-danger'},
                ]
            ]
        }
    }
}
</script>
