<template>
    <div>
<!--        Reusable Data Table component-->
        <div v-if="loadTable">
            <div style="height: 513px;">
                <table class="report-table table-hover text-left table w-100">
                    <thead id="thead-dark">
                        <tr>
                            <th v-for="(column, index) in headers">
                                <span>{{ column }} </span>
                            </th>
<!--                            Header slot-->
                            <slot name="headerDropdown"/>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(row, i) in rowData">
                            <td class="align-middle" v-for="(value, index) in row">
                                <span>{{ value }}</span>
                            </td>
<!--                                Row slot-->
                            <slot name="rowButtons" :row="row"/>
                        </tr>
                    </tbody>
                </table>
            </div>
<!--            Page navigation component-->
            <DataTablePageNav :activePage="activePage" :lastPage="lastPage"/>
        </div>
        <div v-else class="row mb-3 mt-3 d-print-none mx-2">
            <div class="alert alert-warning my-2 ml-3" role="alert">
                No records found.
            </div>
        </div>
    </div>
</template>

<script>
import DataTablePageNav from "./DataTablePageNav";

import auth from "../../utilities/auth";

const {getLoggedInUser} = auth();

export default {
    components: {DataTablePageNav},
    props: {tableHeaders: Array, tableData: Array, loadTable: Boolean, currentDataPage: Number, lastDataPage: Number},
    data() {
        return {
            headers: this.tableHeaders,
            rowData: this.tableData,
            loaded: this.loadTable,
            activePage: this.currentDataPage,
            lastPage: this.lastDataPage,
            user: null,
        }
    },
    mounted() {
        this.user = getLoggedInUser()
    },
    watch: {
        // Watcher to refresh initialised props
        tableData() {
            this.rowData = this.tableData;
        }
    },
}
</script>
