<template>
<!--    Page navigation component for Data Table-->
    <div class="row my-auto mx-0 w-100" v-if="lastPage > 1">
        <div class="col-10 align-top text-left my-auto py-2 px-0 fw-bold">
            <span>Page {{ activePage }} of {{ lastPage }}</span>
        </div>
        <div class="col-auto text-right my-auto ms-auto px-0">
            <div class="d-inline-block my-2" v-for="(button, i) in navButtons">
                <button class="btn btn-sm px-1"
                        :title="button.title"
                        :disabled="button.disabled"
                        @click="changePage(button.clickParam)"
                        v-if="button.show">
                    <font-awesome-icon :icon="button.icon" v-if="button.icon"/>
                    <span class="fw-bold " :class="button.class" v-if="button.spanText">{{ button.spanText }}</span>
                </button>
                <hr class="ml-1 mr-2 ruler" v-if="i < 5 && button.show">
            </div>
        </div>
    </div>
</template>
<script>
export default {
    props: {activePage: Number, lastPage: Number},
    data() {
        return {}
    },
    computed: {
        // Button config
        navButtons() {
            return [
                {
                    title: 'First Page',
                    show: true,
                    disabled: this.activePage === 1,
                    clickParam: 1,
                    icon: 'angle-double-left',
                    class: 'text-dark'
                },
                {
                    title: 'Previous Page',
                    show: true,
                    disabled: this.activePage === 1,
                    clickParam: this.activePage - 1,
                    icon: 'angle-left',
                    class: 'text-dark'
                },
                {
                    title: 'Select Previous Page',
                    show: this.activePage > 1,
                    clickParam: this.activePage - 1,
                    spanText: this.activePage - 1,
                    class: 'text-dark'
                },
                {
                    title: 'Current Page',
                    show: true, disabled: true,
                    clickParam: this.activePage - 1,
                    spanText: this.activePage,
                    class: 'text-danger'
                },
                {
                    title: 'Select Next Page',
                    show: this.activePage !== this.lastPage,
                    clickParam: this.activePage + 1,
                    spanText: this.activePage + 1,
                    class: 'text-dark'
                },
                {
                    title: 'Next Page',
                    show: true,
                    disabled: this.activePage === this.lastPage,
                    clickParam: this.activePage + 1,
                    icon: 'angle-right',
                    class: 'text-dark'
                },
                {
                    title: 'Last Page',
                    show: true,
                    disabled: this.activePage === this.lastPage,
                    clickParam: this.lastPage,
                    icon: 'angle-double-right',
                    class: 'text-dark'
                },
            ]
        }
    },
    methods: {
        // eventBus emit call requesting action from the component above the parent to resolve page change action
        changePage(page) {
            this.$eventBus.$emit('changePage', page)
        },
    }
}
</script>
<style>
.ruler {
    width: 1px;
    height: 10px;
    display: inline;
    border: none;
    border-left: 1px solid rgba(0, 0, 0, 0.1)
}
</style>
