<template>
    <!--    Main Assets page-->
    <BaseCard :headerTitle="status === 'own' ? 'My Assets' : 'Assets'">
        <spinner style="margin-top: 15rem!important" v-if="loading"/>
        <DataTable v-else-if="!loading && !edit && !create"
                   :tableHeaders="headers"
                   :tableData="tableData"
                   :loadTable="data.length > 0"
                   :currentDataPage="activePage"
                   :lastDataPage="lastPage">
            <template v-slot:headerDropdown v-if="status !== 'own' && user.is_admin">
                <th colspan="3">
                    <div class="row w-100">
                        <select class="select-sm ml-auto" v-model.number="status" @change="changePage(1)">
                            <option v-for="selectStatus in statusOptions" :value="selectStatus.value">{{ selectStatus.text }}</option>
                        </select>
                    </div>
                </th>
                <th colspan="1" style="width: 75px;" v-if="status !== 'own' && user.is_admin">
                    <button class="btn btn-sm mx-0 btn-outline-primary w-100" title="Add Asset" @click="create=true; edit=false">
                        <span class="fw-bold"><font-awesome-icon v-if="user.is_admin" icon="plus"/> Add</span>
                    </button>
                </th>
            </template>
            <template v-slot:rowButtons="{row}">
                <AssetsRowActionButtons :row="row" :user="user" @rowButtonAction="buttonActions"/>
                <DataTableActionButtons :row="row" :user="user" @editLine="editSelectedData" @deleteLine="deleteAsset" v-if="status !== 'own'"/>
            </template>
        </DataTable>
        <AssetsEdit :assetData="selectedData" :initialUsers="users" v-if="edit && !create"/>
        <AssetsCreate v-if="create && !edit"/>
    </BaseCard>
</template>

<script>
import DataTable from "../components/datatable/DataTable";

import auth from "../utilities/auth";
import AssetsRowActionButtons from "../components/assets/AssetsRowActionButtons";
import DataTableActionButtons from "../components/datatable/DataTableActionButtons";
import BaseCard from "../components/BaseCard";
import AssetsEdit from "../components/assets/AssetsEdit";
import AssetsCreate from "../components/assets/AssetsCreate";

const {getLoggedInUser} = auth();

export default {
    props: {
        initialStatus: {
            type: String,
            default: 'All'
        }
    },
    components: {AssetsCreate, AssetsEdit, BaseCard, DataTableActionButtons, AssetsRowActionButtons, DataTable},
    data() {
        return {
            user: null,
            data: [],
            users: [],
            // Table headers
            headers: [
                'Asset ID',
                'Serial No',
                'Type',
                'Current Status',
                'Assigned To'
            ],
            // Pagination variables
            activePage: null,
            lastPage: null,
            // View switch variables
            loading: true,
            edit: false,
            create: false,
            // Filtering variables
            status: this.initialStatus,
            availableStates: [],
            // Selected data to edit
            selectedData: [],
        }
    },
    mounted() {
        // Set currently logged in user to the attribute. To be used with frontend admin validation.
        this.user = getLoggedInUser()

        // Listeners for emit transactions from child components more than 1 layer below
        //-- Change page
        this.$eventBus.$on('changePage', this.changePage)
        this.$once("hook:beforeDestroy", () => {
            this.$eventBus.$off('changePage', this.changePage)
        })

        //-- Exit edit
        this.$eventBus.$on('exitEdit', () => {
                this.edit = false;
                this.create = false;
                this.changePage(this.activePage)
            }
        )
        this.$once("hook:beforeDestroy", () => {
                this.$eventBus.$off('exitEdit', () => {
                    this.edit = false;
                    this.create = false;
                    this.changePage(this.activePage)
                })
            }
        )

        // Initial load of the asset data
        axios.get(`/api/assets/${this.status}`).then(response => {
            this.data = response.data.data.assets.data
            this.availableStates = response.data.data.availableStates
            this.activePage = response.data.data.assets.current_page
            this.lastPage = response.data.data.assets.last_page
            this.loading = false
            if (this.data.length > 0) {
                // Successes response toast notification
                Vue.$toast.open({
                    message: 'Assets retrieved successfully!',
                    type: 'info'
                })
            } else {
                // No records found response toast notification
                Vue.$toast.open({
                    message: 'No records available!',
                    type: 'info'
                })
            }
        }).catch(error => {
            // Failed response toast notification
            Vue.$toast.open({
                message: error.response.data.message,
                type: 'error',
            });
        });

        // If admin then preload users list used for edits
        if (this.user.is_admin && status !== 'own') {
            axios.get(`/api/users/list`).then(response => {
                this.users = response.data.data
                if (this.data) {
                    // Successes response toast notification
                    Vue.$toast.open({
                        message: 'Users retrieved successfully!',
                        type: 'info'
                    })
                } else {
                    // No records found response toast notification
                    Vue.$toast.open({
                        message: 'No user records available!',
                        type: 'info'
                    })
                }
            }).catch(error => {
                // Failed response toast notification
                Vue.$toast.open({
                    message: error.response.data.message,
                    type: 'error',
                });
            });
        }
    },
    computed: {
        // Computed property that creates array of objects to populate the dropdown filter in the table header.
        // Data includes all available states from retrieved data
        statusOptions() {
            let temp = [...new Set(this.availableStates.map(item => item.current_state))].sort();
            let returnTemp = [{value: 'All', text: 'Show All'}];

            temp.forEach((value) => {
                returnTemp.push({value: value, text: value})
            });
            return returnTemp;
        },
        // Computed property organising retrieved asset data to desired table format
        tableData() {
            let tempArr = []

            for (let i = 0; this.data.length > i; i++) {
                tempArr.push({
                    id: this.data[i].id,
                    serialNo: this.data[i].serial_number,
                    type: this.data[i].type.asset_type,
                    currentStatus: this.data[i].current_state,
                    assignee: this.data[i].assignee_id === null ? null : this.data[i].assignee.name,
                })
            }
            return tempArr;
        }
    },
    methods: {
        // Enters edit screen
        editSelectedData(id) {
            this.selectedData = this.data.filter(x => x.id === id)[0];
            this.edit = true;
            this.create = false;
        },
        // Page change
        changePage(page) {
            this.loading = true
            // Loads required data for selected page
            axios.get(`/api/assets/${this.status}/?page=${page}`).then(response => {
                this.data = response.data.data.assets.data
                this.activePage = response.data.data.assets.current_page
                this.lastPage = response.data.data.assets.last_page
                this.availableStates = response.data.data.availableStates
                this.loading = false
            }).catch(error => {
                // Failed response toast notification
                Vue.$toast.open({
                    message: error.response.data.message,
                    type: 'error',
                });
            });
        },
        // Delete asset from the db and reload the data
        deleteAsset(id) {
            let data = this.data.filter(x => x.id === id)[0];
            // "Are you sure?" alert - question...
            this.$swal({
                title: 'Delete Asset!',
                icon: 'question',
                text: 'Are you sure you want to delete ' + data.type.asset_type + ' - ' + data.serial_number + '?',
                showCancelButton: true,
                confirmButtonText: `Delete`,
                denyButtonText: `Cancel`,
            }).then((result) => {
                if (result.isConfirmed) {
                    this.loading = true
                    // Delete asset if alert confirmed
                    axios.delete(`/api/assets/${id}`).then(response => {
                        // Successes response toast notification
                        this.loading = false
                        Vue.$toast.open({
                            message: data.serial_number + ' - ' + data.type.asset_type + ' is deleted!',
                            type: 'info',
                        });
                        // Reload page
                        //-- Handling last page last record to go to last available page
                        this.changePage(this.data.length > 1 ? this.activePage : this.activePage - 1);
                    }).catch(error => {
                        // Failed response toast notification
                        this.loading = false
                        Vue.$toast.open({
                            message: error.response.data.message,
                            type: 'error',
                        });
                    });
                }
            });
        },
        // Assets row - button actions to reserve, approve and return asset
        buttonActions(id, command) {

            let actionData = {};
            let data = this.data.filter(x => x.id === id)[0];

            if (command === 'reservation') {
                actionData = {
                    questionTitle: 'Reserve Asset?',
                    questionText: 'Do you want to reserve ',
                    currentState: 'Reserved',
                    toastMessage: 'reserved',
                    confirmButton: 'Reserved',
                }
            } else if (command === 'approve') {
                actionData = {
                    questionTitle: 'Approve Reservation?',
                    questionText: 'Do you want to approve reservation of ',
                    currentState: 'Allocated',
                    toastMessage: 'allocated',
                    confirmButton: 'Approve',
                }
            } else if (command === 'return') {
                actionData = {
                    questionTitle: 'Return Asset?',
                    questionText: 'Do you want to return ',
                    currentState: 'Available',
                    toastMessage: 'now available',
                    confirmButton: 'Return',
                }
            }
            if (actionData) {
                // "Are you sure?" alert - question...
                this.$swal({
                    title: actionData.questionTitle,
                    icon: 'question',
                    text: actionData.questionText + data.type.asset_type + ' - ' + data.serial_number + '?',
                    showCancelButton: true,
                    confirmButtonText: actionData.confirmButton,
                    denyButtonText: `Cancel`,
                }).then((result) => {
                    if (result.isConfirmed) {
                        this.loading = true
                        // Requests updating of required state
                        axios.patch(`/api/assets/${command}/${id}`).then(response => {
                            data.current_state = actionData.currentState;
                            this.loading = false
                            // Successes response toast notification
                            Vue.$toast.open({
                                message: data.serial_number + ' - ' + data.type.asset_type + ' ' + actionData.toastMessage + '!',
                                type: 'info',
                            });
                            // Conditional setting of the front end data to avoid unnecessary server reload
                            if (command === 'return') {
                                data.assignee = null;
                                data.assignee_id = null;
                            } else if (command === 'reservation') {
                                data.assignee = {id: this.user.id, name: this.user.name};
                                data.assignee_id = this.user.id;
                            }
                            if (this.status !== 'All' || !this.user.is_admin) {
                                if (this.data.length === 1 && this.status !== 'own') {
                                    this.status = 'All'
                                }
                                this.changePage(this.data.length > 1 ? this.activePage : this.activePage - 1);

                            }
                        }).catch(error => {
                            // Failed response toast notification
                            this.loading = false
                            Vue.$toast.open({
                                message: error.response.data.message,
                                type: 'error',
                            });
                        });
                    }
                })
            }
        }
    }
}
</script>
