<template>
    <!--    Login form-->
    <UsersCard bodyHeight="height: 292px!important;" :loading="loading" header="Login" :form="form" spinnerStyle="margin-top: 5rem!important">
        <form @submit.prevent="submitForm">
            <div class="form-group row my-3">
                <label for="email" class="col-sm-4 col-form-label text-md-right">E-Mail Address</label>
                <div class="col-md-6">
                    <input id="email" type="email" class="form-control" v-model="form.email" required autofocus>
                </div>
            </div>
            <div class="form-group row my-3">
                <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                <div class="col-md-6">
                    <input id="password" type="password" class="form-control" v-model="form.password" required>
                </div>
            </div>
            <div class="form-group row my-3 ">
                <div class="col-md-8 offset-md-4">
<!--                    Calling captcha -->
                    <vue-recaptcha :sitekey="captchaKey" :loadRecaptchaScript="true" ref="recaptcha" @verify="onCaptchaVerified"></vue-recaptcha>
                </div>
            </div>
            <div class="form-group row mb-0">
                <div class="col-md-8 offset-md-4">
                    <BaseButton type="submit" buttonClass="btn btn-primary" title="Login" text="Login" icon="sign-in-alt" style="width: 88px;"/>
                </div>
            </div>
        </form>
    </UsersCard>
</template>
<script>
import {VueRecaptcha} from 'vue-recaptcha';
import auth from "../utilities/auth";
import UsersCard from "../components/users/UsersCard";

export default {
    components: {UsersCard, VueRecaptcha},
    data() {
        return {
            captchaKey: '6Lf7IigeAAAAAH8RE5oemUpE4eswsGC-EIZ6KN6B',
            loading: false,
            form: {
                email: '',
                password: '',
                recaptcha: ''
            }
        }
    },
    methods: {
        onCaptchaVerified: function (recaptchaToken) {
            this.form.recaptcha = recaptchaToken
            this.validateCaptcha = true
        },
        submitForm() {
            this.loading = true
            if (this.form.password.length > 0) {

                const {setLoggedInUser} = auth();

                axios.get('/sanctum/csrf-cookie').then(() => {
                    // Post request to login user
                    axios.post('/login', this.form).then(response => {
                        setLoggedInUser(response.data.data)
                        this.$router.push('/')
                        this.loading = false
                        // Successes response toast notification
                        Vue.$toast.open({
                            message: 'You are logged in!',
                            type: 'info',
                        });
                    }).catch(error => {
                        this.loading = false
                        // Failed response toast notification
                        Vue.$toast.open({
                            message: error,
                            type: 'error',
                        });
                    })
                });
            }
        }
    }
}
</script>
