<template>
    <!--    Register form-->
    <UsersCard bodyHeight="height: 392px!important;" :loading="loading" header="Register" :form="form" spinnerStyle="margin-top: 10rem!important">
        <form @submit.prevent="submitForm">
            <div class="form-group row my-3">
                <label for="name" class="col-md-4 col-form-label text-md-right">Name</label>
                <div class="col-md-6">
                    <input id="name" type="text" class="form-control" v-model="form.name" required autofocus>
                </div>
            </div>
            <div class="form-group row my-3">
                <label for="email" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>
                <div class="col-md-6">
                    <input id="email" type="email" class="form-control" v-model="form.email" required>
                </div>
            </div>
            <div class="form-group row my-3">
                <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                <div class="col-md-6">
                    <input id="password" type="password" class="form-control" v-model="form.password" required>
                </div>
            </div>
            <div class="form-group row my-3">
                <label for="password-confirm" class="col-md-4 col-form-label text-md-right">Confirm Password</label>
                <div class="col-md-6">
                    <input id="password-confirm" type="password" class="form-control" v-model="form.password_confirmation" required>
                </div>
            </div>
            <div class="form-group row my-3 ">
                <div class="col-md-8 offset-md-4">
                    <vue-recaptcha :sitekey="captchaKey" :loadRecaptchaScript="true" ref="recaptcha" @verify="onCaptchaVerified"></vue-recaptcha>
                </div>
            </div>
            <div class="form-group row mb-0">
                <div class="col-md-6 offset-md-4">
                    <BaseButton type="submit" buttonClass="btn btn-primary" title="Register" text="Register" icon="file-signature"/>
                </div>
            </div>
        </form>
    </UsersCard>
</template>

<script>
import {VueRecaptcha} from 'vue-recaptcha';
import auth from "../utilities/auth";
import UsersCard from "../components/users/UsersCard";

export default {
    components: {UsersCard, VueRecaptcha},
    data() {
        return {
            captchaKey: '6Lf7IigeAAAAAH8RE5oemUpE4eswsGC-EIZ6KN6B',
            loading: false,
            form: {
                name: '',
                email: '',
                password: '',
                password_confirmation: '',
                recaptcha: '',
            },
        }
    },
    methods: {
        onCaptchaVerified: function (recaptchaToken) {
            this.form.recaptcha = recaptchaToken
            this.validateCaptcha = true
        },
        submitForm() {
            this.loading = true
            // Post request to register new user
            axios.post('/register', this.form).then(response => {
                // Successes response toast notification
                Vue.$toast.open({
                    message: 'User registered successfully!',
                    type: 'info',
                });
                this.loading = false
                this.$router.push('/login')
            }).catch(error => {
                this.loading = false
                // Failed response toast notification
                Vue.$toast.open({
                    message: error.response.data.message,
                    type: 'error',
                });
            });
        },
    }
}
</script>
