<template>
    <!--    Main Users page-->
    <BaseCard :headerTitle="mode === 'myProfile'? 'My Profile':'Users'">
        <spinner style="margin-top: 15rem!important" v-if="loading"/>
        <DataTable v-else-if="!loading && !edit"
                   :tableHeaders="headers"
                   :tableData="tableData"
                   :loadTable="data.length > 0"
                   :currentDataPage="activePage"
                   :lastDataPage="lastPage">
            <template v-slot:rowButtons="{row}">
                <DataTableActionButtons :row="row" :user="user" @editLine="editSelectedData" @deleteLine="deleteUserAndReturnAssets"/>
            </template>
        </DataTable>
        <UsersEdit :assetData="selectedData" :user="user" :mode="mode" v-if="edit"/>
    </BaseCard>
</template>
<script>
import DataTable from "../components/datatable/DataTable";

import auth from "../utilities/auth";
import DataTableActionButtons from "../components/datatable/DataTableActionButtons";
import BaseCard from "../components/BaseCard";
import UsersEdit from "../components/users/UsersEdit";

const {getLoggedInUser} = auth();

export default {
    props: {
        mode: {
            type: String,
            default: null
        }
    },
    components: {BaseCard, DataTableActionButtons, DataTable, UsersEdit},
    data() {
        return {
            data: [],
            // Table headers
            headers: [
                'ID',
                'Name',
                'E-mail',
                'Admin'
            ],
            // Pagination variables
            activePage: null,
            lastPage: null,
            // View switch variables
            loading: true,
            edit: false,
            // Selected data to edit
            selectedData: [],
            user: null
        }
    },
    mounted() {
        // Set currently logged in user to the attribute. To be used with frontend admin validation.
        this.user = getLoggedInUser()

        // Listeners for emit transactions from child components more than 1 layer below
        //-- Change page
        this.$eventBus.$on('changePage', this.changePage)
        this.$once("hook:beforeDestroy", () => {
            this.$eventBus.$off('changePage', this.changePage)
        })

        //-- Exit edit
        this.$eventBus.$on('exitEdit', () => {
                this.edit = false;
                this.changePage(this.activePage)
            }
        )
        this.$once("hook:beforeDestroy", () => {
                this.$eventBus.$off('exitEdit', () => {
                    this.edit = false;
                    this.changePage(this.activePage)
                })
            }
        )
        if (this.mode === 'myProfile') {
            this.loadData('my-profile')
        } else {
            this.loadData('users')
        }


    },
    computed: {
        // Computed property organising retrieved user data to desired table format
        tableData() {
            let tempArr = []

            for (let i = 0; this.data.length > i; i++) {
                tempArr.push({
                    id: this.data[i].id,
                    name: this.data[i].name,
                    email: this.data[i].email,
                    is_admin: this.data[i].is_admin,
                })
            }
            return tempArr;
        },
    },
    methods: {
        loadData(apiCall) {
            // Initial load of the users data
            axios.get(`/api/${apiCall}/`).then(response => {
                this.data = response.data.data.data
                this.activePage = response.data.data.current_page
                this.lastPage = response.data.data.last_page
                if (this.mode === 'myProfile') {
                    this.editSelectedData(this.user.id);
                }
                this.loading = false
                if (this.data.length > 0) {
                    if (this.mode === 'myProfile') {
                        // Successes response toast notification
                        Vue.$toast.open({
                            message: this.user.name + "'s profile retrieved successfully!",
                            type: 'info'
                        })
                    } else {
                        // Successes response toast notification
                        Vue.$toast.open({
                            message: 'Users retrieved successfully!',
                            type: 'info'
                        })
                    }
                } else {
                    // No records found response toast notification
                    Vue.$toast.open({
                        message: 'No records available!',
                        type: 'info'
                    })
                }
            }).catch(error => {
                // Failed response toast notification
                Vue.$toast.open({
                    message: error.response.data.message,
                    type: 'error',
                });
            });
        },
        // Lists associated assets to a user in the event of delete request of that user
        getAssets(userId) {
            let assets = this.data.filter(x => x.id === userId)[0].assets;
            let idArr = [];
            let returnTemp;

            for (let i = 0; assets.length > i; i++) {
                idArr.push(assets[i].id);
                if (i === 0) {
                    returnTemp = assets[i].type.asset_type + ' (' + assets[i].serial_number + ')'
                } else {
                    returnTemp += (i === assets.length - 1 ? ' and ' : ', ') + assets[i].type.asset_type + ' (' + assets[i].serial_number + ')' + (i === assets.length - 1 ? '. ' : '')
                }
            }
            return {assetCount: assets.length, assetsSN: returnTemp, assetIds: idArr};
        },
        // Enters edit screen
        editSelectedData(id) {
            this.selectedData = this.data.filter(x => x.id === id)[0];
            this.edit = true;
        },
        // Page change
        changePage(page) {
            this.loading = true
            // Loads required data for selected page
            axios.get(`/api/users/?page=${page}`).then(response => {
                this.data = response.data.data.data
                this.activePage = response.data.data.current_page
                this.lastPage = response.data.data.last_page
                this.loading = false
            }).catch(error => {
                // Failed response toast notification
                Vue.$toast.open({
                    message: error.response.data.message,
                    type: 'error',
                });
            });
        },
        // Delete user from the db and reload the data
        deleteUser(id, name) {
            // Delete user if alert confirmed
            this.loading = true
            axios.delete(`/api/users/${id}`).then(response => {
                // Successes response toast notification
                this.loading = false
                Vue.$toast.open({
                    message: name + ' is deleted!',
                    type: 'info',
                });
                // Reload page
                //-- Handling last page last record to go to last available page
                this.changePage(this.data.length > 1 ? this.activePage : this.activePage - 1);
            }).catch(error => {
                // Failed response toast notification
                this.loading = false
                Vue.$toast.open({
                    message: error.response.data.message,
                    type: 'error',
                });
            });

        },
        // If to-be deletes user has associated assets, unassigns and sets as Available
        deleteUserAndReturnAssets(id) {
            let data = this.data.filter(x => x.id === id)[0];

            // "Are you sure?" alert - question...
            this.$swal({
                title: 'Delete User!',
                icon: 'question',
                text: 'Are you sure you want to delete ' + data.name + '?',
                showCancelButton: true,
                confirmButtonText: `Delete`,
                denyButtonText: `Cancel`,
            }).then((result) => {
                if (result.isConfirmed) {
                    // If alert confirmed then check is user has assets
                    let assets = this.getAssets(id);
                    if (assets.assetCount > 0) {
                        //-- If has, then list ans ask if proceed with returning assets and deleting user
                        this.$swal({
                            title: 'Allocated Assets!',
                            icon: 'question',
                            text: data.name + " still has " + assets.assetCount + ' allocated assets. ' + assets.assetsSN + 'Are these assets now returned?',
                            showCancelButton: true,
                            confirmButtonText: `Delete`,
                            denyButtonText: `Cancel`,
                        }).then((result) => {
                            if (result.isConfirmed) {
                                // Delete each asset first
                                this.loading = true
                                assets.assetIds.forEach((value, index) => {
                                    axios.patch(`/api/assets/return/${value}`).then(response => {
                                        // Successes response toast notification
                                        Vue.$toast.open({
                                            message: response.data.message,
                                            type: 'info',
                                        });
                                        // If last asset returned, then delete user
                                        if (index === assets.assetCount - 1) {
                                            this.deleteUser(id, data.name);
                                        }
                                    }).catch(error => {
                                        // Failed response toast notification
                                        Vue.$toast.open({
                                            message: error.response.data.message,
                                            type: 'error',
                                        });
                                    });
                                });
                            }
                        });
                    } else {
                        //-- If hasn't, then delete user
                        this.deleteUser(id, data.name);
                    }
                }
            });
        },
    }
}
</script>
