<template>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card shadow-sm">
                    <div class="card-header bg-primary text-light">{{ header }}</div>
                    <div class="card-body" :style="bodyHeight">
                        <spinner :style="spinnerStyle" v-if="loading"/>
                        <slot v-if="!loading"></slot>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    props: {bodyHeight: String, loading: Boolean, header: String, form: Object, spinnerStyle:String},
}
</script>
