<template>
    <div>
        <spinner style="margin-top: 15rem!important" v-if="loading"/>
        <UsersForm v-else :data="data" :loaded="loaded" :user="user" :mode="mode" @save="save"/>
    </div>
</template>

<script>
import BaseCard from "../BaseCard";
import UsersForm from "./UsersForm";

export default {
    components: {UsersForm, BaseCard},
    props: {assetData: Object, user: Object, mode: String},
    data() {
        return {
            data: this.assetData,
            loaded: false,
            loading: false,
        }
    },
    mounted() {
        this.data = this.assetData;
        this.loaded = true;
    },
    watch: {
        // Watcher to refresh initialised props
        assetData() {
            this.data = this.assetData;
        },
    },
    methods: {
        save() {
            let apiCall = this.mode !== 'myProfile' ? 'users' : 'update-my-profile';
            // Update request
            this.loading = true
            axios.put(`/api/${apiCall}/${this.data.id}`, this.data).then(response => {
                // Successes response toast notification
                this.loading = false
                Vue.$toast.open({
                    message: this.data.name + ' is updated!',
                    type: 'info',
                });
                if (this.mode !== 'myProfile') {
                    // eventBus emit call requesting action from the component above the parent to close edit view and refresh data
                    this.$eventBus.$emit('exitEdit')
                }
            }).catch(error => {
                // Failed response toast notification
                this.loading = false
                Vue.$toast.open({
                    message: error.response.data.message,
                    type: 'error',
                });
            });
        },
    }
}
</script>
