<template>
    <div>
        <!--        User Edit form-->
        <h3>Edit User</h3>
        <form class="mx-auto row g-3  w-100 mt-5" @submit.prevent="save(data)" v-if="loaded">
            <div class="form-group col-3 my-3">
                <label for="inputName">Name</label>
                <input type="text" class="form-control" id="inputName" placeholder="User Name" v-model="data.name">
            </div>
            <div class="form-group col-3 my-3">
                <label for="inputEmail">Email</label>
                <input type="text" class="form-control" id="inputEmail" placeholder="E-mail" v-model="data.email">
            </div>
            <div class="form-group col-3 my-3">
                <label for="inputEmail">Password</label>
                <input type="password" class="form-control" id="inputPassword" placeholder="Password" v-model="data.password">
            </div>
            <div class="form-check form-group col-3 my-3" v-if="user.is_admin && user.id !== data.id">
                <input class="form-check-input" type="checkbox" value="" id="isAdminCheck" v-model="data.is_admin">
                <label class="form-check-label" for="isAdminCheck">
                    Is Admin
                </label>
            </div>
            <div class="mt-5">
                <BaseButton type="submit" buttonClass="btn btn-primary" title="Save" text="Save" icon="save" style="width: 88px;"/>
            </div>
        </form>
        <div class="mt-2 ms-2" v-if="mode !== 'myProfile'">
            <BaseButton type="submit"
                        buttonClass="btn btn-danger"
                        title="Cancel"
                        text="Cancel"
                        icon="save"
                        style="width: 88px;"
                        @click="$eventBus.$emit('exitEdit')"/>
        </div>
    </div>
</template>
<script>
export default {
    props: {
        type: String,
        data: Object,
        loaded: Boolean,
        radioButtons: Array,
        usersMap: Array,
        user: Object,
        mode: String
    },
    methods: {
        // Emit method to send request to parent of this component
        save(data) {
            this.$emit('save', data);
        }
    }
}
</script>
