<template>
<!--    Reusable base button component-->
    <button class="btn" :class="buttonClass" :title="title" v-on="$listeners">
        <span :class="textClass"><font-awesome-icon v-if="icon"  :icon="icon"/> {{ text }} </span>
    </button>
</template>
<script>
export default {
    inheritAttrs: false,
    props: {
        title: String,
        text: String,
        icon: String,
        buttonClass: String,
        textClass: String
    }
}
</script>
