<template>
<!--    Reusable card component|-->
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card shadow-sm">
                    <div class="card-header bg-primary text-light">{{ headerTitle }}</div>
                    <div class="card-body" style="height: 580px;">
                        <slot/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    inheritAttrs: false,
    props: {
        headerTitle: String,
    }
}
</script>
