<template>
    <!--    Calls Assets Form component-->
    <div>
        <spinner style="margin-top: 15rem!important" v-if="loading"/>
        <AssetsForm v-else type="create" :loaded="loaded" @createSave="save"/>
    </div>
</template>

<script>
import BaseCard from "../BaseCard";
import AssetsForm from "./AssetsForm"

export default {
    components: {BaseCard, AssetsForm},
    data() {
        return {
            loaded: false,
            loading: false,
        }
    },
    mounted() {
        this.loaded = true;
    },
    methods: {
        save(data) {
            // Sends post request to store new Asset
            this.loading = true
            axios.post(`/api/assets`, data).then(response => {
                // Successful toast notification
                this.loading = false
                Vue.$toast.open({
                    message: data.serial_number + ' - ' + data.type_id + ' is created!',
                    type: 'info',
                });
                this.$eventBus.$emit('exitEdit')
            }).catch(error => {
                // Error toast notification
                this.loading = false
                Vue.$toast.open({
                    message: error.response.data.message,
                    type: 'error',
                });
            });
        },
    }
}
</script>
