<template>
    <div>
        <!--        v-if frontend validation across the form to display correct content for admin and regular user, depending on current Auth-->
        <h3 v-if="type==='create'">Create New Asset</h3>
        <h3 v-if="type==='edit'">Edit Asset</h3>
        <form class="mx-auto row g-3  w-100 mt-5" @submit.prevent="sendCommand(type, data)" v-if="loaded">
            <div class="form-group col-2 my-3" v-if="type==='edit'">
                <label for="inputSerialNo">Asset ID</label>
                <input type="text" class="form-control" id="assetId" disabled placeholder="Asset ID" v-model="data.id">
            </div>
            <div class="form-group col-3 my-3">
                <label for="inputSerialNo">Serial No</label>
                <input type="text" class="form-control" id="inputSerialNo" placeholder="Serial Number" v-model="data.serial_number">
            </div>
            <fieldset class="row col-5 my-3" v-if="type==='edit'">
                <legend class="col-form-label col-4 pt-0">Current State</legend>
                <div class="col-8">
                    <div class="form-check" v-for="radio in radioButtons">
                        <input class="form-check-input"
                               type="radio"
                               name="statesRadios"
                               :id="radio.id"
                               :value="radio.value"
                               v-model="data.current_state">
                        <label class="form-check-label" :for="radio.id">
                            {{ radio.value }}
                        </label>
                    </div>
                </div>
            </fieldset>
            <div class="form-group col-5 my-3">
                <label for="inputAssetType">Asset Type</label>
                <input type="text" class="form-control" id="inputAssetType" placeholder="Asset Type" v-model="data.type_id">
            </div>
            <div class="form-row align-items-center my-3" v-if="type==='edit'">
                <div class="col-5">
                    <label class="mr-sm-2" for="usersDropdown">Assignee</label>
                    <select class="form-select form-select mb-3" aria-label="Assignee" id="usersDropdown" v-model="data.assignee_id">
                        <option :value="user[0]" v-for="user in usersMap">{{ user[1] }}</option>
                    </select>
                </div>
            </div>
            <div class="mt-5" v-if="type==='edit'">
                <BaseButton type="submit" buttonClass="btn btn-primary" title="Save" text="Save" icon="save" style="width: 88px;"/>
            </div>
            <div class="mt-5" v-if="type==='create'">
                <BaseButton type="submit" buttonClass="btn btn-primary" title="Create" text="Create" icon="save" style="width: 88px;"/>
            </div>
        </form>
        <div class="mt-2 ms-2">
            <BaseButton type="submit"
                        buttonClass="btn btn-danger"
                        title="Cancel"
                        text="Cancel"
                        icon="save"
                        style="width: 88px;"
                        @click="$eventBus.$emit('exitEdit')"/>
        </div>
    </div>
</template>
<script>
export default {
    props: {
        type: String,
        data: {
            type: Object,
            default: () => ({
                serial_number: null,
                type_id: null
            })
        },
        loaded: Boolean,
        radioButtons: Array,
        usersMap: Array
    },
    methods: {
        // Emit method to send request to parent of this component
        sendCommand(command, data) {
            this.$emit(command + 'Save', data);
        }
    }
}
</script>
