<template>
    <!--    Calls Assets Form component-->
    <div>
        <spinner style="margin-top: 15rem!important" v-if="loading"/>
        <AssetsForm v-else type="edit" :data="data" :loaded="loaded" :radioButtons="radioButtons" :usersMap="usersMap" @editSave="save"/>
    </div>
</template>

<script>
import BaseCard from "../BaseCard";
import AssetsForm from "./AssetsForm"

export default {
    components: {BaseCard, AssetsForm},
    props: {assetData: Object, initialUsers: Array},
    data() {
        return {
            data: {assignee: {id: null, name: null}},
            users: this.initialUsers,
            loading: false,
            loaded: false,
            radioButtons: [
                {id: 'statesRadiosAvailable', value: 'Available'},
                {id: 'statesRadiosAllocated', value: 'Allocated'},
                {id: 'statesRadiosDamaged', value: 'Damaged'},
                {id: 'statesRadiosReserved', value: 'Reserved'},
            ]
        }
    },
    mounted() {
        this.data = this.assetData;
        this.loaded = true;
    },
    watch: {
        type() {
            // Watcher to replace type_id with asset_type then computed property type() changes
            if ('type_id' in this.data) {
                this.data.type_id = this.data.type.asset_type;
            }
        },
    },
    computed: {
        // Created to dynamically trigger watcher type()
        type() {
            if ('type_id' in this.data) {
                return this.data.type.asset_type
            }
        },
        usersMap() {
            // Creates users array used in Assets Form component to list registered users in the form dropdown
            let temp = [...new Set(this.users.map(item => [item.id, item.name]))].sort();

            // Adds null option to the above map
            temp.unshift([null, null])

            return temp;
        }
    },
    methods: {
        save() {
            // Frontend validation to prevent applying incorrect state
            if ((this.data.current_state === 'Available' || this.data.current_state === 'Damaged') && this.data.assignee_id) {
                this.$swal({
                    title: 'Validation Issue!',
                    icon: 'warning',
                    text: 'Asset in state ' + this.data.current_state + " can't have assignee. Please correct the form.",
                    showCloseButton: true,
                })
            } else if (!this.data.assignee_id && (this.data.current_state === 'Allocated' || this.data.current_state === 'Reserved')) {
                this.$swal({
                    title: 'Validation Issue!',
                    icon: 'warning',
                    text: 'Asset in state ' + this.data.current_state + ' must have assignee. Please correct the form.',
                    showCloseButton: true,
                })
            } else {
                // Update request
                this.loading = true
                axios.put(`/api/assets/${this.data.id}`, this.data).then(response => {
                    // Successes response toast notification
                    this.loading = false
                    Vue.$toast.open({
                        message: this.data.serial_number + ' - ' + this.data.type.asset_type + ' is updated!',
                        type: 'info',
                    });
                    // eventBus emit call requesting action from the component above the parent to close edit view and refresh data
                    this.$eventBus.$emit('exitEdit')
                }).catch(error => {
                    // Failed response toast notification
                    this.loading = false
                    Vue.$toast.open({
                        message: error.response.data.message,
                        type: 'error',
                    });
                });
            }
        },
    }
}
</script>
