<template>
    <!--    Table row - action buttons component specific to asset resource-->
    <td colspan="2" style="width: 60px!important;">
        <div class="row w-100 mx-0">
            <div class="col-6 ps-1 pe-0 py-0 m-0" v-for="(tr, i) in buttons" v-bind:key="'assets' + row.id + i">
                <!--                Reusable button component-->
                <BaseButton v-for="(button, j) in tr"
                            v-bind:key="'assets' + row.id + i + j"
                            buttonClass="btn-sm mx-1 btn-outline-primary w-100"
                            :title=button.title
                            :text=button.text
                            textClass="fw-bold"
                            v-if="button.show"
                            @click="$emit('rowButtonAction', row.id, button.action)"/>
            </div>
        </div>
    </td>
</template>

<script>
export default {
    props: {row: Object, user: Object},
    computed: {
        buttons() {
            // Buttons config
            return [
                [
                    {title: 'Reserve', text: 'Reserve', show: this.row.currentStatus === 'Available', action: 'reservation'},
                    {title: 'Approve', text: 'Approve', show: this.row.currentStatus === 'Reserved' && this.user.is_admin, action: 'approve'}
                ],
                [
                    {title: 'Return / Cancel Reservation', text: 'Return', show: this.row.currentStatus !== 'Available', action: 'return'},
                ]
            ]
        }
    }
}
</script>
