// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

$primary: #041e42;

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap';

// sweet alert
@import '~sweetalert2/src/variables';

$swal2-confirm-button-background-color: #041e42;
$swal2-confirm-button-focus-box-shadow: 0 0 0 3px rgba($swal2-confirm-button-background-color, .5);


@import '~sweetalert2/src/sweetalert2';
